@font-face {
    font-family: "bebas neue";
    src: url(Fonts/bebasbeue.ttf);
}

@font-face {
    font-family: "avenir next";
    src: url(Fonts/avenir.ttf)
}

*{
    margin: 0;
    padding: 0;
    font-family:'avenir next';
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #ffffff;
    
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(IMG/portfoliobaggrund.jpg);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.logo{
    margin: 50px;
    margin-bottom: 20px;
    margin-left: -110px;
    padding: 40px;
    width: 300px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #DADADA;
    text-decoration: none; /* fjerner underlinje */
    font-size: 18px;
    position: relative;
    font-family: 'avenir next';
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{ /* skaber linjen under */
    width: 100%; 
}

/*-------- selve siden --------*/

.about{
    width: 100%;
    padding: 78px 0px;
    
}

.about img{

    height: auto;
    width: 420px;
    border-radius: 15px;
}

.ommig-text{
     width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.ommig-text h1{
    color: #DADADA;
    font-family: 'avenir next';
    font-size: 80px;
    margin-bottom: 20px;
}

.ommig-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'avenir next';

}

.ommig-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.kontakt{
    flex-basis: 35%;
}

.kontakt p{
    margin-top: 30px;
}

/* MEDIA */

@media (max-width: 500px) {
    body {
        font-size: 10px;
    }

    .container {
        padding: 1px 10%;
    }

    #header{
        width: 100%;
        height: 100vh;
        background-image: url(img/baggrundmobil2.jpg);
        background-size: cover;
        background-position: center;
    }

    .logo {
        width: 500px;
        margin-left: 0;
        margin-top: 1px;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: space-between; 
      }
  
      .nav-container {
        display: none;
      }
  
    .header-text {
        font-size: 10px;
        margin-top: -75px;
    }

    .header-text h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        line-height: 55px;

    }

    button {
        font-size: 7px;
        margin-left: 100px;
        margin-top: 200px;
    }
}
